@import 'common';

.photo_form {
   font-weight: bold;
   font-size: 10pt;
   width: 850pt;
   height: 600pt;
   visibility: visible;
   margin: 10px;

   @include border-radius(4px);

   .photo_form_detail {
     background-color: #fff;
     border: 1px solid #000;
     font-size: 10pt;
     width: 700pt;
     height: 400pt;
     margin: 5px;
     padding: 10px;
     box-shadow: 4px 4px;

     @include border-radius(4px);
   }
}
