@import 'common';

.photo_form {
   font-weight: bold;
   font-size: 10pt;
   width: 850pt;
   height: 600pt;
   visibility: visible;
   margin: 10px;

   @include border-radius(4px);

   .photo_form_detail {
     background-color: #fff;
     border: 1px solid #000;
     font-size: 10pt;
     width: 800pt;
     height: 600pt;
     margin: 5px;
     box-shadow: 4px 4px;

     @include border-radius(4px);
   }
}

.photo_default_modal {
  display: none;
  margin-top: 299px;
}

.photo_detail {
   background-color: #CCFFFF;
   position: fixed;
   top: 10%;
   left: 10%;
   width: 1000px;
   font-size: 12px;
   border: 1px solid #FFFFFF;
   z-index: 1020;
   @include border-radius(10px,10px);
}
