@import 'common';

.place_form {
  font-weight: bold;
  font-size: 10pt;
  color: #fff;
  border: solid 1px #fff;
  width: 70%;
  height: 50%;
  margin: 10px;

  @include border-radius(4px);

  .place_form_div {
    background-color: #fff;
    border: solid 1px #fff;
    font-size: 10pt;
    width: 70%;
    height: 80%;
      margin: 5px;
      z-index: 1;

      @include border-radius(4px);
   }
}

.place_list {
  width: 600pt;
  height: 1000pt;
  visibility: visible;
  position: absolute;
  margin: 4px;

  @include border-radius(5px);

  .place_summary {
    background-color: #fff;
    border: 1px solid #000;
    font-weight: bold;
    font-size: 10pt;
    width: 800px;
    height: 280px;
    margin: 5px;
    padding: 9px;
    box-shadow: 4px 4px;

    @include border-radius(10px);

    .place_summary_name {
      font-weight: bold;
      font-size: 15pt;
    }
  }
}

.place_default_modal {
  display: none;
  margin-top: 299px;
}

.place_detail {
   background-color: #CCfffF;
   position: fixed;
   top: 10%;
   left: 10%;
   width: 1000px;
   font-size: 12px;
   border: 1px solid #fff;
   z-index: 1020;
   @include border-radius(10px);
}
