// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_form {
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
  color: #3725A8;
}
.message_box {
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  color: blue;
}
